#bagImage {
  cursor: pointer;
  height: 200px;
  width: 200px;
}
.modal-header{
  background-color: black;
}
.zoomIn,.zoomOut, .zoomOut:hover, .zoomIn:hover,.close , .close:hover{
  color: white;
}
.zoomOut{
  margin-left: 10px;
}
.close , .close:hover{
  opacity: 1;
}
#bagImageZoom{
  height: 400px;
  width: 400px;
}
.modal-body{
  overflow: auto;
}